<link type="text/css" rel="stylesheet" href="/assets/css/home.css" />
<main class="main-content">
    <section class="banner">
        <div class="inner-banner">
            <div class="category">
                <a href=""><i class="fa-thin fa-apple-whole"></i> Supermarket</a> 
                <a href="">Health & Beauty</a> 
                <a href="">Home & Office</a> 
                <a href="">Phones & Tablets</a> 
                <a href="">Computing</a> 
                <a href="">Electronics</a> 
                <a href="">Fashion</a> 
                <a href="">Baby Products</a> 
                <a href="">Gaming</a> 
                <a href="">Sporting Goods</a> 
                <a href="">Automobile</a> 
                <a href="">Other categories</a> 
            </div>
            <div class="banner-slide">
                <div class="banner-div">
                    <img src="/assets/images/banner-img.jpg"/>
                </div>
                <div class="side-ad">
                    <a>
                        <img src="/assets/images/ad1.png" alt="ad-1"/>
                    </a>
                    <a>
                        <img src="/assets/images/ad2.jpg" alt="ad-2"/>
                    </a>
                </div>            
            </div>
        </div>
        
    </section>
    <section class="top-selling">
        <div>
            <p>Top Selling Products</p>
            <div>
                <!-- <a>
                    <img src="/assets/images/item-1.jpg"/>
                    <div>
                        <span>Six Pairs-in-1 Quality Ankle Socks</span>
                        <div>
                            <span>9000</span>
                            <span>11000</span>
                        </div>
                    </div>
                </a>
                <a>
                    <img src="/assets/images/item-2.jpg"/>
                    <div>
                        <span>Biore UV Aqua Rich Watery Essence Sunscreen SPF 50 (50ml)</span>
                        <div>
                            <span>5000</span>
                            <span>6000</span>
                        </div>

                    </div>
                </a>
                <a>
                    <img src="/assets/images/item-3.jpg"/>
                    <div>
                        <span>Six Pairs-in-1 Quality Ankle Socks 2</span>
                        <div>
                            <span>5000</span>
                            <span>8000</span>
                        </div>
                    </div>
                </a>
                <a>
                    <img src="/assets/images/item-6.jpg"/>
                    <div>
                        <span>Six Pairs-in-1 Quality Ankle Socks</span>
                        <div>
                            <span>6000</span>
                            <span>7000</span>
                        </div>
                    </div>
                </a>
                <a class="medium-screen">
                    <img src="/assets/images/item-4.jpg"/>
                    <div>
                        <span>Six Pairs-in-1 Quality Ankle Socks</span>
                        <div>
                            <span>3500</span>
                            <span>4500</span>
                        </div>
                    </div>
                </a>
                <a class="medium-screen">
                    <img src="/assets/images/item-5.jpg"/>
                    <div>
                        <span>Six Pairs-in-1 Quality Ankle Socks</span>
                        <div>
                            <span>4900</span>
                            <span>8000</span>
                        </div>
                    </div>
                </a> -->
                
            </div>
            
        </div>
    </section>
    <section class="other-products">
            <div>
                <p>Other Products</p>
                <div>
                    <!-- <a>
                        <img src="/assets/images/item-7.jpg"/>
                        <div>
                            <span>Six Pairs-in-1 Quality Ankle Socks</span>
                            <div>
                                <span>9000</span>
                                <span>11000</span>
                            </div>
                        </div>
                    </a>
                    <a>
                        <img src="/assets/images/item-8.jpg"/>
                        <div>
                            <span>Biore UV Aqua Rich Watery Essence Sunscreen SPF 50 (50ml)</span>
                            <div>
                                <span>5000</span>
                                <span>6000</span>
                            </div>
    
                        </div>
                    </a>
                    <a>
                        <img src="/assets/images/item-9.jpg"/>
                        <div>
                            <span>Six Pairs-in-1 Quality Ankle Socks 2</span>
                            <div>
                                <span>5000</span>
                                <span>8000</span>
                            </div>
                        </div>
                    </a>
                    <a>
                        <img src="/assets/images/item-10.jpg"/>
                        <div>
                            <span>Six Pairs-in-1 Quality Ankle Socks</span>
                            <div>
                                <span>6000</span>
                                <span>7000</span>
                            </div>
                        </div>
                    </a>
                    <a>
                        <img src="/assets/images/item-11.jpg"/>
                        <div>
                            <span>Biore UV Aqua Rich Watery Essence Sunscreen SPF 50 (50ml)</span>
                            <div>
                                <span>5000</span>
                                <span>6000</span>
                            </div>
    
                        </div>
                    </a>
                    <a>
                        <img src="/assets/images/item-17.jpg"/>
                        <div>
                            <span>Six Pairs-in-1 Quality Ankle Socks 2</span>
                            <div>
                                <span>5000</span>
                                <span>8000</span>
                            </div>
                        </div>
                    </a>
                    <a>
                        <img src="/assets/images/item-18.jpg"/>
                        <div>
                            <span>Six Pairs-in-1 Quality Ankle Socks</span>
                            <div>
                                <span>6000</span>
                                <span>7000</span>
                            </div>
                        </div>
                    </a>
                    <a>
                      <img src="/assets/images/item-19.jpg"/>
                        <div>
                            <span>Six Pairs-in-1 Quality Ankle Socks</span>
                            <div>
                                <span>6000</span>
                                <span>7000</span>
                            </div>
                        </div>
                    </a>
                    <a>
                        <img src="/assets/images/item-20.jpg"/>
                        <div>
                            <span>Six Pairs-in-1 Quality Ankle Socks</span>
                            <div>
                                <span>9000</span>
                                <span>11000</span>
                            </div>
                        </div>
                    </a>
                    <a>
                        <img src="/assets/images/item-13.jpg"/>
                          <div>
                              <span>Six Pairs-in-1 Quality Ankle Socks</span>
                              <div>
                                  <span>6000</span>
                                  <span>7000</span>
                              </div>
                          </div>
                      </a>
                      <a>
                          <img src="/assets/images/item-14.jpg"/>
                          <div>
                              <span>Six Pairs-in-1 Quality Ankle Socks</span>
                              <div>
                                  <span>9000</span>
                                  <span>11000</span>
                              </div>
                          </div>
                      </a>
                    <a>
                        <img src="/assets/images/item-11.jpg"/>
                        <div>
                            <span>Six Pairs-in-1 Quality Ankle Socks</span>
                            <div>
                                <span>9000</span>
                                <span>11000</span>
                            </div>
                        </div>
                    </a>
                    <a>
                        <img src="/assets/images/item-2.jpg"/>
                        <div>
                            <span>Six Pairs-in-1 Quality Ankle Socks</span>
                            <div>
                                <span>9000</span>
                                <span>11000</span>
                            </div>
                        </div>
                    </a> -->
                    
                </div>
                
            </div>
        </section>
    <section class="brands">
            <div>
                <p>Other Brands</p>
                <div>
                    <a>
                        <img src="/assets/images/item-15.jpg"/>
                    </a>
                    <a>
                        <img src="/assets/images/item-10.jpg"/>
                    </a>
                    <a>
                        <img src="/assets/images/item-17.jpg"/>
                    </a>
                    <a>
                        <img src="/assets/images/item-18.jpg"/>
                    </a>
                    <a>
                      <img src="/assets/images/item-19.jpg"/>
                    </a>
                    <a>
                        <img src="/assets/images/item-20.jpg"/>
                        <div>
                    </a>
                </div>
            </div>    
    </section>
</main>
<script type="text/javascript" src="/assets/js/home.js"></script>
