<link rel="stylesheet" href="/assets/css/signUp.css" type="text/css"/>
<section>
    <h1>Sign Up</h1>
    <form onsubmit="registerUser(event)">
        <label>
            <span>First Name</span><br/>
            <input required type="text" id="first_name" />
        </label><br/><br/>
        <label>
            <span>Last Name</span><br/>
            <input required type="text" id="last_name" />
        </label><br/><br/>
        <label>
            <span>Email</span><br/>
            <input required type="email" id="username" />
        </label><br/><br/>
        <label>
            <span>Address</span><br/>
            <input required type="text" id="address" />
        </label><br/><br/>
        <label>
            <span>Secondary Address</span><br/>
            <input type="text" id="secondary_address" />
        </label><br/><br/>
        <label>
            <span>Phone Number</span><br/>
            <input required type="text" id="phone_number" />
        </label><br/><br/>
        <label>
            <span>Password </span><br/>
            <input required type="password" id="password" />
        </label><br/><br/>
        <label>
            <span>Confrim Password</span><br/>
            <input required type="password" id="confirm_password" />
        </label><br/><br/>
        <button>
            Sign Up
        </button>
    </form>
</section>
<script src="/assets/js/signUp.js" type="text/javascript"></script> 